@model CourseSelection

<h2>Create Confirmation</h2>

<div>
    <h4>CourseSelection</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmountPaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
    </dl>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="StudentID" />
            <input type="hidden" asp-for="CourseID" />
            <input type="hidden" asp-for="AmountPaid" />
            <input type="hidden" asp-for="PaymentDate" />
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>